In [132]:
import pandas as pd
import numpy as np

df = pd.read_csv('salaries.csv')

# df.head()
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
865    False
866    False
867    False
868    False
869    False
Length: 870, dtype: bool

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        868 non-null    object
 1   Company Score  789 non-null    float64
 2   Job Title      870 non-null    object
 3   Location       857 non-null    object
 4   Date           870 non-null    object
 5   Salary         764 non-null    object
dtypes: float64(1), object(5)
memory usage: 40.9+ KB

In [134]:
round(df.isnull().sum()/df.shape[0]*100, 2)

Company           0.23
Company Score     9.31
Job Title         0.00
Location          1.49
Date              0.00
Salary           12.18
dtype: float64

In [135]:
df.shape

(870, 6)

In [136]:
# Dropping Salary rows that are empty / null
df_clean = df.copy()
df_clean.dropna(subset=['Salary'], axis=0, inplace=True)
df_clean.shape

(764, 6)

In [137]:
# Dropping location rows that are empty / null
df_clean.dropna(subset=['Location'], axis=0, inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 753 entries, 0 to 763
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        753 non-null    object
 1   Company Score  753 non-null    float64
 2   Job Title      753 non-null    object
 3   Location       753 non-null    object
 4   Date           753 non-null    object
 5   Salary         753 non-null    object
dtypes: float64(1), object(5)
memory usage: 41.2+ KB

In [138]:
# Clear the rows that do not contain a salary range as min$ - max$
df_clean = df_clean[df_clean['Salary'].str.contains(' - ') == True]

In [139]:
df_clean = df_clean[df_clean['Salary'].str.contains('Per Hour') == False]

In [140]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 713 entries, 0 to 763
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        713 non-null    object
 1   Company Score  713 non-null    float64
 2   Job Title      713 non-null    object
 3   Location       713 non-null    object
 4   Date           713 non-null    object
 5   Salary         713 non-null    object
dtypes: float64(1), object(5)
memory usage: 39.0+ KB

In [141]:
df_clean.head()

,Company,Company Score,Job Title,Location,Date,Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,$68K - $94K (Glassdoor est.)
1,Workiva,4.3,Software Support Engineer,Remote,2d,$61K - $104K (Employer est.)
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,$95K - $118K (Glassdoor est.)
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,$97K - $145K (Employer est.)
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,$85K - $108K (Glassdoor est.)

In [142]:
# Getting Minimum Salary
df_min_salary = df_clean['Salary'].map(lambda x: int(x[1:x.find('K')]) * 1000)
df_min_salary.rename('Min Salary', inplace=True)

0       68000
1       61000
2       95000
3       97000
4       85000
        ...
758    234000
759    160000
761     82000
762     69000
763     95000
Name: Min Salary, Length: 713, dtype: int64

In [143]:
# Getting max salary
df_max_salary = df_clean['Salary'].map(lambda x: int(x[x.rfind('$')+1:x.rfind('K')]) * 1000)
df_max_salary.rename('Max Salary', inplace=True)

0       94000
1      104000
2      118000
3      145000
4      108000
        ...
758    284000
759    385000
761    118000
762    107000
763    143000
Name: Max Salary, Length: 713, dtype: int64

In [144]:
df_clean.head()

,Company,Company Score,Job Title,Location,Date,Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,$68K - $94K (Glassdoor est.)
1,Workiva,4.3,Software Support Engineer,Remote,2d,$61K - $104K (Employer est.)
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,$95K - $118K (Glassdoor est.)
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,$97K - $145K (Employer est.)
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,$85K - $108K (Glassdoor est.)

In [145]:
df_clean = pd.concat([df_clean, df_min_salary, df_max_salary], axis=1)

In [147]:
df_clean.head()

,Company,Company Score,Job Title,Location,Date,Salary,Min Salary,Max Salary
0,ViewSoft,4.8,Software Engineer,"Manassas, VA",8d,$68K - $94K (Glassdoor est.),68000,94000
1,Workiva,4.3,Software Support Engineer,Remote,2d,$61K - $104K (Employer est.),61000,104000
2,"Garmin International, Inc.",3.9,C# Software Engineer,"Cary, NC",2d,$95K - $118K (Glassdoor est.),95000,118000
3,Snapchat,3.5,"Software Engineer, Fullstack, 1+ Years of Expe...","Los Angeles, CA",2d,$97K - $145K (Employer est.),97000,145000
4,Vitesco Technologies Group AG,3.1,Software Engineer,"Seguin, TX",2d,$85K - $108K (Glassdoor est.),85000,108000

In [146]:
# Mean imputation
# df3 = df2.fillna(df2.Age.mean())
# Let's check the null values again
df2.isnull().sum()

Company          0
Company Score    0
Job Title        0
Location         0
Date             0
Salary           0
Min Salary       0
Max Salary       0
dtype: int64